*{
    margin: 0;
    padding: 0;
}

nav{
    
    background-color: white;
    color:  black;
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);

}
nav h1{
    font-size: 35px;
    font-weight: bold;
}
nav ul{
   list-style: none;
   display: flex;
   gap: 20px;
    
}
    
nav ul li{
    border: none;
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
    color: blue;
}
nav ul select{
    border: none;
    outline: none;
    font-size: 18px;
}

.try{
    padding: 10px 35px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.try:hover{
    background-color: darkorange;
}
.try:active{
    background-color: midnightblue;
     transform: scale(0.8);
     transition: 0.2s ease-in;
}
.btn{
    padding: 10px 35px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 6px;
}
.btn:hover{
    background-color: orange;
}
.btn:active{
    background-color: mediumslateblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
    
}
.free{
    padding: 10px 35px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 7px;
}
.free:hover{
    background-color: skyblue;
}
.free:active{
    background-color: midnightblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:skyblue;
    padding: 0 150px;
    height: 100vh;
}
.text{
    width: 500px;
}
.text h1{
    
    font-size: 45px;
    margin-bottom: 15px;
    /* margin-left: -10px; */
}
.text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.try{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.image{
    width: 500px;
    height: 300px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    /* margin-left: -400px; */
}


 .section{
    /* padding: 0 150px; */
    background-color: whitesmoke;
    height: 150vh;
 }
 /* .main2{ */
    /* ;} */

.child{
    display: flex;
    
    border-radius: 10px;
    padding: 0 150px;
    justify-content: space-between;

}

p{
    font-size: 15px;
    color: black;
}
.textarea{
    width: 100%;
    height: 100px;
    /* border-radius: px; */
    padding: 10px;
    font-size: 40px;
    margin-top: 245px;

}
.box1{
    width: 800px;
    height: 300px;
    background-color: lightcoral;
   border-radius: 10px;
    padding: auto;
    margin: 20px;
   margin-top: 200px;
 }   
 .box2{
        float: left;
    width: 500px;
    height: 300px;  
    background-color: lightcoral;
    margin: 150px;
    padding: auto;
    border-radius:10px;
    
    }

.child2{
    display: flex;
    
    border-radius: 10px;
    padding: 50px 150px;
    justify-content: space-between;

}

 .textarea2 {
    /* text-align: right; */
    margin-top: 150px;
    font-size: 40px;
}
 .my-button11{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;}

   .section2{
    background-color: lightskyblue;
    height: 80vh;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;

   }
   .pagefull{
    height: 150vh;
    background-color: whitesmoke;
   }
   .section3{
    
    align-items: start;
    
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;

   }
   .box3{
    width: 500px;
    height: 300px;
    background-color: lightcoral;
   border-radius: 10px;
    padding: auto;
    margin: 20px;
   margin-top: 200px;
   }
.text1{
    width: 500px;
}
.text1 h1{
    font-size: 40px;
    /* padding: 20px; */
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 200px;
   
}
.text1 p{
   font-size: 20px;
   margin-left: 100px;
   margin-top: 15px;
}

.try2{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 15px;
}
.mid{
    color: black;
    align-items: start;
    justify-content: center;
}
.text2{
    margin-left: 500px;
    
}
.text2 h1{
    font-size: 40px;
    margin-left: 150px;
}
.text2 p{
    font-size: 20px;
    margin-right: 80px;
    
}
.parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.gchild1{
    border-style: solid ;
    height: 450px;
    width: 250px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 400px;
    
}
.gchild1:hover{
    background-color: navy;
    color: white;
    border-color: orangered;
    transform: scale(1.1);
     transition:  1.8s ease-in-out;
}
.gchild2{
    border-style: solid ;
    height: 450px;
    width: 250px;
    border-radius: 15px;
    margin-top: 50px;
    /* margin-left: 150px; */
}
.gchild2:hover{
    background-color: navy;
    color: white;
    transform: scale(1.1);
     transition:  1.8s ease-in-out;
     border-color: orangered;
}
.gchild3{
    border-style: solid ;
    height: 450px;
    width: 250px;
    border-radius: 15px;
    margin-top: 50px;
    margin-right: 400px;
}
.gchild3:hover{
    background-color: navy;
    color: white;
    transform: scale(1.1);
     transition:  1.8s ease-in-out;
     border-color: orangered;
}
.gbtn{
    background-color: orangered;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     
}
/* .gbtn:hover{
    background-color: wheat;
    transform: scale(1.1);
     transition:  1.8s ease-in-out;
     border-color: cornsilk;
} */
.gbtn:active{

    background-color: mediumslateblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}

                    /* section 4 -- page 5*/

.section4{
     background-color: lightskyblue;
    height: 50vh;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.text4{
     /* padding: 0 150px; */
     
    font-size: 40px;
    align-items: center;
    padding: 50px 150px;
    margin-left: 150px;
    text-wrap: calc(12);
}
.text4 h1{
    font-size: 40px;
    
}
.text4 p{
    
    font-size: 15px;
    
}
.btn4{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 250px;
    
}
.btn4:active{
     background-color: mediumslateblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}

                                       /* page 6 -- section 5 */

.section0{
     background-color: whitesmoke;
    height: 120vh;
}                                       

.section5{
    
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.text5{
    width: 500px;
}
.text5 h1{
    
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 90px;
}
.text5 p{
    font-size: 20px;
    margin-bottom: 20px;
    display: flexbox;
}
.btn5{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn5:active{
     background-color: mediumslateblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}
  .box5{
     width: 500px;
    height: 300px;
    background-color: lightcoral;
    border-radius: 10px;
    margin-top: 80px;
  }
  footer1{
    text-align: center;
   
  }
  fotter1 h1{
    font-size: 40px;
    margin-top: 200px;
  }
  .sponsor{
    font-size: 40px;
  }
.text6{
    padding: 20px;
}
.text6 h1{
    font-size: 40px;
    margin-top: 150px;
    margin-left: 45%;
}
.logo{
    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    
}
.img1{
    
    width: 120px;
    height: 30px;
}
.img2{
    background: transparent;
    height: 20px;
    width: 30px;
}


                  /* page7 -- section 6 */
.section6{
    background-color: lightskyblue;
    height: 70vh;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.box6{
     width: 500px;
    height: 300px;
    background-color: lightcoral;
    border-radius: 10px;
    margin-top: 80px;
  }
  .text6{
    width: 500px;
}
.text6 h1{
    
    font-size: 40px;
    margin-bottom: 15px;
    /* margin-top: 90px; */
    margin-right: 200px;
    
}
.text6 p{
    font-size: 20px;
    margin-bottom: 20px;
    display: flexbox;
}
.btn6{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn6:active{
     background-color: mediumslateblue;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}