.spinner{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid black;
    border-top: 10px solid white;
    /* animation-name: spin; */
    /* animation-duration: 2s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    /* animation-direction: alternate-reverse; */
    animation: spin 2s ease 10 normal;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
    }
}
.box{
    height: 600px;
    width: 400px;
    /* border: 10px solid black; */
    /* border-top: 10px solid white; */
    border:10px solid black;
    background-color: aqua;
    margin: 0 150px;
    
}
.ball{
    height: 100px;
    width: 100px;
    /* border-radius: ; */
    /* align-items: center; */
    margin-left: 150px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: beige;
    /* border-top: 10px solid white; */
    /* animation-name: spin; */
    /* animation-duration: 2s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    /* animation-direction:alternate ; */
    animation: balldrop 0.5s linear infinite
    alternate;
}
/* .ball2{
     height: 100px;
    width: 100px;
    /* border-radius: ; */
    /* align-items: center; */
    /* margin-left: 150px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: beige; */
    /* border-top: 10px solid white; */
    /* animation-name: spin; */
    /* animation-duration: 2s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    /* animation-direction:alternate ; */
    /* animation: drop 0.5s linear infinite
    alternate; */
/* } */
@keyframes drop{
    from{
        transform: translatex(0px);
        
    }
    to{
        transform: translatex(300px);
    }
} 
@keyframes balldrop{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(120px);
    }
    50%{
        transform: translatey(250px);
    }
    75%{
        transform: translatey(350px);
    }
    100%{
        transform: translatey(500px);
    }
}