*{
    margin: 0;
    padding: 0;
    
}
.child{
    height: 150px;
    width: 150px;
    background-color: brown;
}
.parent{
    background-color: cadetblue;
    height: 80vh;
    display: grid;
    /* grid-template-columns: 200px 250px 200px; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* gap: 10px; */
    grid-gap: 20px;
}
/* #box1{
    grid-column: span 3;
    grid-row: span;
} */


.box
{
    /* height: 200px; */
    width: 200px;
    height: 30vh;
    /* width: 40vh;
     */
     /* width: 40vmax; */

    background-color: green;
    font-size: 2rem;
}
.container{
    height: 50%;
    /* width: 50%; */
    background-color: yellow;
    font-size: 10px;
}
.container h1{
    font-size: 2em;
}
